<% if (numPages > 0) { %>
  <nav aria-label="Page navigation example">
    <ul class="pagination text-center">
      <% if (currentPage === 1) { %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
      <% } else { %>
          <li class="page-item"><a class="page-link" href="<%= apiUrl %>?supplierId=<%= supplierId %>&supplierName=<%= supplierName %>">First</a></li>
      <% } %>
      <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
      <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %>
      <% for (; i <= (Number(currentPage) + 4) && i <= numPages; i++) { %>
          <% if (i === currentPage) { %>
              <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
              <li class="page-item"><a class="page-link" href="<%= apiUrl %>?supplierId=<%= supplierId %>&supplierName=<%= supplierName %>&page_size=<%= resultsPerPage %>&Skip_count=<%= Number(resultsPerPage) * Number(i - 1) %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(currentPage) + 4 && i < numPages) { %>
              <li class="page-item disabled"><a>...</a></li>
          <% } %>
      <% } %>
      <% if (currentPage == numPages) { %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
      <% } else { %>
          <li class="page-item"><a class="page-link" href="<%= apiUrl %>?supplierId=<%= supplierId %>&supplierName=<%= supplierName %>&page_size=<%= resultsPerPage %>&Skip_count=<%= Number(resultsPerPage) * Number(numPages - 1) %>">Last</a></li>
      <% } %>
    </ul>
  </nav>

<% } %>
