<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/offers.css" />
  </head>
  <body>
    <header><%- include('../../partials/header'); %></header>
    <div class="container offers">
      <div class="row text-center py-4 justify-content-center align-items-center offers-row mt-5">
      <% if (offers.length > 0) { %>
        <%- include('../../partials/back'); %>

        <div class="col-12 mb-4">
          <p class="h3"><%= offers.length %> Ofertas</p>
        </div>
        <% offers.map(offer => { %>
          <div class="row">
            <div class="card mb-3">
              <img src="https://images.unsplash.com/photo-1607083206968-13611e3d76db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1389&q=80" class="card-img mx-0" alt="...">
              <div class="card-body">
                <h3 class="card-title text-primary"><%= offer.name %></h3>
                <% if (offer.isPercentage) { %> 
                  <p class="card-text h6">Descuento del <%= offer.offerValue %>%</p>
                <% } else { %> 
                  <p class="card-text">Sin descuento</p>
                <% } %>
                <p class="card-text fs-6">
                  <small class="text-muted">Válido de: 
                    <%= new Date(offer.validFrom).toLocaleDateString() %> al <%= new Date(offer.validTo).toLocaleDateString() %>
                  </small>
                </p>
                <a href="/offers/<%= offer.id %>?offerValue=<%= offer.offerValue %>" class="btn btn-outline-dark m-0" role="button">Ver productos</a>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="row">
          <div class="col-12">
            <h3>No hay ofertas disponibles por el momento😔</h3>
          </div>
          <div class="col-12 align-self-start">
            <a
              href="/"
              class="btn btn-warning"
              style="font-size: 16px; margin-top: 1em"
              >Regresar</a
            >
          </div>
        </div>
      <% } %>
    </div>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
