<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <!-- <link rel="stylesheet" href="/stylesheets/products/products.css" /> -->
  </head>
  <body>
    <header><%- include('../../partials/header'); %></header>
    <div class="container meat-cheese-products mb-5">
      <%- include('../../partials/back'); %>
      <div class="row mb-4">
        <p class="h4"><span id="total-products-found" class="badge bg-success"><%= totalCount %></span> Productos</p>
      </div>
      <% if (products.length) { %>

      <div class="table-responsive">
        <table class="table table-borderless table-striped table-hover shadow-lg p-3 mb-5 rounded">
          <thead class="table-dark py-5">
            <tr class="">
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">SKU</th>
              <th scope="col">Costo</th>
              <th scope="col">Precio</th>
              <th scope="col">Activo</th>
            </tr>
          </thead>
          <tbody>
          <% products.map((product, index) => {
            let bcolor;
            if (index % 2 === 0) { bcolor = '#D3D3D3'} else { bcolor = 'white'}
          %>
            <tr style="background-color: <%= bcolor %>;">
              <td scope="row"><%= index + 1 %></td>
              <th class="fs-5"><%= product.name ? product.name : 'n/a' %></th>
              <td class="fs-5"><%= product.sku %></td>
              <td class="fs-5"><%= new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' }).format(product.product_outlets[0].cost_price) %></td>
              <td class="fs-5"><%= new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' }).format(product.product_outlets[0].price_inc_tax) %></td>
              <td> 
                  <span class="<%= product.isActive ? 'badge bg-primary' : 'badge bg-secondary' %>"><%= product.isActive %></span>
              </td>
            </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>
      <% } else { %> 
        <div class="alert alert-secondary text-center fs-6" role="alert">
          Ups, no encontramos los productos!
        </div>
      <% } %>
      <%- include('../../partials/products-pagination', { resultsPerPage, currentPage, numPages, apiUrl}); %>
    </div>
    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
