<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/products/product-price.css" />
  </head>
  <body>
    <header><%- include('../../partials/header'); %></header>
    <div class="container product-price mb-5">
      <div class="row text-center py-4 justify-content-center align-items-center product-price-row">
        <% if (product && product != undefined) { %>
        <div class="col-12">
          <h1 class="text-primary product-name"><%= product.name || 'N/a' %></h1>
          <p class="product-barcode"><%= product.barcode.match(/((^[0-9]+[a-z]+)|(^[a-z]+[0-9]+))+[0-9a-z]+$/i) ? 'SKU: ' + product.sku : 'Código de barras: ' + product.barcode %></p>
        </div>
        <div class="row justify-content-center row-cols-auto text-center">

          <div class="col">
            <p class="fs-4 product-cost">Costo: <%= product.product_outlets.length && product.product_outlets[0].cost_price ? new Intl.NumberFormat('es-MX', {style: 'currency', currency:
              'MXN'}).format(product.product_outlets[0].cost_price) : '0' %></p>

       
          </div>
          <div class="col">
            <p class="fs-4 product-price">
              Precio: <%= product.product_outlets.length && product.product_outlets[0].price_inc_tax ? new Intl.NumberFormat('es-MX', {style: 'currency', currency:
              'MXN'}).format(product.product_outlets[0].price_inc_tax) : '0' %>
            </p>
          </div>
          </div>

          <div class="row justify-content-center row-cols-auto text-center mt-3">
            <div class="col">
              <a href="/products/price" class="btn btn-primary"
                >Buscar otro precio</a
              >
            </div>
            <div class="col">
              <a
                href="/products/<%= product.id %>"
                class="btn btn-outline-dark"
                >Editar producto</a
              >
            </div>
          </div>

          <% } else { %>
          <h3>No encontramos el producto: <%= criteria %>😔</h3>
          <a
            href="/products/price"
            class="btn btn-light"
            style="font-size: 16px; margin-top: 1em"
            >Intentar de nuevo</a
          >
          <% } %>
      </div>
    </div>

  </body>
</html>
