<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/products/product-types.css" />
  </head>
  <body>
    <header><%- include('../../partials/header'); %></header>
    <div class="container mt-2 product-types">
      <%- include('../../partials/back'); %>
      <div class="row mt-2 mb-4">
        <p class="h3">Departamentos</p>
        <p id="total-products" class="fw-bold text-primary" style="font-size: 14px;"><%= totalCount %> en total</p>
      </div>
      <div class="row mb-5 justify-content-center">
        <% if (productTypes.length > 0) { %> 
        <div class="card w-50 text-dark">
          <ol class="list-group list-group-numbered list-group-flush">
            <% productTypes.map(type => { %>
            <li class="fw-bold fs-6 list-group-item"><%= type.name %></li>
            <% }) %>
          </ol>
        </div>


       <% } else { %>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
